# .gitignore

# Ignore files and directories
__pycache__/
.venv/
.vscode/
CommitHistory/
.github/
FrogWiki/
.env
bot.bat
prompt.bat
testbot.py
user_points.db
restart.flag
bot_started.flag
leaderboard_message_id.txt
watchdog.pid
client_secret.json
restart_channel_id.txt
memory_check.py
data/
test gpt/
state.json
openpilot.wiki
chroma_db
local_vectors/
local_docs/
service_account_key.json
vector-store/
chroma.db/
local_nodes/
*.db
DiscordDocs/
docstore/
qdrant_db/
.fleet/settings.json
DiscordDocs_old/
FrogWiki/FrogPilot+Wiki-20240712163957.xml
gitcommit.py
*.csv
get-pip.py
FrogBot.code-workspace
.env copy
config.yaml