# .gitignore

# Ignore files and directories
__pycache__/
.venv/
.vscode/
CommitHistory/
FrogWiki/
test gpt/
config.yaml
elasticsearch-docker.yml
FrogBot.code-workspace
gitcommit.py
user_points.db
docker-compose.yml
Dockerfile